

<!-- Tipo de Dato para Formulario -->
<ng-container *ngIf="PAGE_INFO.page_type =='F'">
    <div class="p-field p-grid">
        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" for="lastname4">{{datatypeInfo.regist_title}}</label>
        <div class="p-col-12 p-md-10">
            <textarea rows="5" 
                      cols="30"                    
                      placeholder="ingrese el nombre"
                      [value]="value"
                      (input)="onInput($event.target.value)"
                      (blur)="onTouch()"
                      pInputTextarea></textarea>
        </div>
    </div>
</ng-container>