/* .content {
    background-color: var(--surface-e);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%; 
    height: 100%;
} */

.footer {
    background-color: var(--surface-c);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grid-conten {
    height: 95%;
}

/* Ancho del Menu Lateral*/
:host ::ng-deep .ng-side-style.ng-sidebar {
    width: 200px;
}

.fila {
    background-color: rosybrown;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    margin: 5px
}

.columna {
    background-color: royalblue;
    border-width: 1px;
    border-style: solid;
    border-color:lawngreen;
}