<div class="p-grid">
    <!-- Menu Header -->
    <div class="p-col-12 p-p-0">
        <div>
            <app-menu-bar></app-menu-bar>
        </div>
    </div>
</div>

<div class="p-grid p-pt-2 grid-conten">
    <!-- Menu Lateral -->
    <div class="p-col-2 p-p-0" >
        <app-side-nav></app-side-nav>
    </div>
    <!-- Contenido -->
    <div class="p-col-10 p-p-0"  >
        <app-breadcrumb></app-breadcrumb>
        
        <p-panel header="Header"  [toggleable]="true">
            <ng-template pTemplate="icons">
                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                </button>
                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </p-panel>
        
        <p-toast></p-toast>
    </div>
</div>

<div class="p-grid p-pt-2">
    <!-- Footer -->
    <div class="p-col-12 p-p-0">
        <div class="footer">4</div>
    </div>
</div>
