<div class="p-grid">
    <!-- Menu Header -->
    <div class="p-col-12 p-p-0">
        <div>
            <app-menu-bar (showMenu)="_toggleSidebar()"></app-menu-bar>
        </div>
    </div>
</div>

<div class="p-grid p-pt-2 grid-conten">
    <!-- Container for sidebar(s) + page content -->
    <ng-sidebar-container>
        <!-- Sidebar -->
        <ng-sidebar [(opened)]="opened" [mode]="tipoSlideMenu" [closeOnClickOutside]="closeOnClickOutside" [showBackdrop]="showBackdrop" [keyClose]="'true'" sidebarClass="ng-side-style">
            <app-side-nav></app-side-nav>
        </ng-sidebar>

        <!-- Page content -->
        <div ng-sidebar-content style="height: 90%;">
            <!-- Breadcums -->
            <app-breadcrumb></app-breadcrumb>
            
            <!-- Paginas a Mostrar -->
            <app-master-page></app-master-page>

            <!-- Paginas a Mostrar -->
            <!-- <div class="p-p-5">
                
                <div class="p-grid fila">
                    <div class="p-col-5 columna">

                    </div>
                    <div class="p-col-3 columna">
                        <p-panel header="Header" [toggleable]="true">
                            <ng-template pTemplate="icons">
                                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </p-panel>
                    </div>

                    <div class="p-col-4 columna">

                    </div>
                </div>

                <div class="p-grid fila">
                    <div class="p-col-1 columna">

                    </div>
                    <div class="p-col-6 columna">
                        <p-panel header="Header" [toggleable]="true">
                            <ng-template pTemplate="icons">
                                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </p-panel>
                    </div>

                    <div class="p-col-2 columna">

                    </div>
                    <div class="p-col-2 columna">
                        <p-panel header="Header" [toggleable]="true">
                            <ng-template pTemplate="icons">
                                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </p-panel>
                    </div>
                    <div class="p-col-1 columna">
                        <p-panel header="Header" [toggleable]="true">
                            <ng-template pTemplate="icons">
                                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            </p>
                        </p-panel>
                    </div>
                </div>

                <div class="p-grid fila">
                    <div class="p-col-6 columna">

                    </div>
                    <div class="p-col-6 columna">
                        <p-panel header="Header" [toggleable]="true">
                            <ng-template pTemplate="icons">
                                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </p-panel>
                    </div>
                </div>
                <div class="p-grid fila">
                    <div class="p-col-8 columna">
                        <div class="p-grid fila">
                            <div class="p-col-6 columna">
                                
                            </div>
                            <div class="p-col-2 columna">
                                
                            </div>
                            <div class="p-col-6 columna">
                                
                            </div>
                            <div class="p-col-12 columna">
                                
                            </div>
                            <div class="p-col-6 columna">
                                <p-panel header="Header" [toggleable]="true">
                                    <ng-template pTemplate="icons">
                                        <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                        </button>
                                        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                                    </ng-template>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                        *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                        *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                    </p>
                                </p-panel>
                            </div>
                        </div>
                    </div>
                    <div class="p-col-4 columna">
                        <p-panel header="Header" [toggleable]="true">
                            <ng-template pTemplate="icons">
                                <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
                                </button>
                                <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
                            </ng-template>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                                *Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias odit ratione similique laborum nihil inventore ullam atque, quidem natus illum explicabo error sapiente voluptas excepturi dolorem laudantium nesciunt qui pariatur!
                            </p>
                        </p-panel>  
                    </div>
                </div>
            </div> -->
        </div> 
    </ng-sidebar-container>
</div>

<p-toast></p-toast>
<!-- Footer -->
<!-- <div class="p-grid p-pt-2">
    <div class="p-col-12 p-p-0">
        <div class="footer">4</div>
    </div>
</div> -->



<!-- <br>
<p-panel header="Header" [toggleable]="true">
    <ng-template pTemplate="icons">
        <button pButton icon="pi pi-cog" iconPos="left" class="p-panel-header-icon" (click)="menu.toggle($event)">
        </button>
        <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu>
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
</p-panel>

<p-toast></p-toast> -->
