<ng-container *ngIf="PAGE_INFO.page_type =='F'; then tipoFormulario; else tipoTabla"></ng-container>

<ng-template #tipoFormulario>
    <div class="p-field p-grid" [ngClass]="{'hide': datatypeInfo.isHide}">
        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" for="inputRegist">{{datatypeInfo.regist_title}}</label>
        <div class="p-col-12 p-md-10">
            <input id="inputRegist"
                   type="text" 
                   class="p-inputtext-sm input" 
                   [placeholder]="datatypeInfo.regist_plholder"
                   [value]="value"
                   [disabled]="datatypeInfo.isReadOnly"
                   (input)="onInput($event.target.value)"
                   (blur)="onTouch()"
                   pInputText> 
            <!-- <small  class="p-error">Comentario</small> -->
            <!-- class="p-inputtext-sm ng-invalid ng-dirty"  clases para poner en rojo cuando hay error -->
        </div>
    </div>
</ng-template>

<ng-template #tipoTabla>
    <ng-container *ngIf="PAGE_INFO.page_type =='T'">
        <input  type="text"
                [value]="value"
                (input)="onInput($event.target.value)"
                (blur)="onTouch()"
                pInputText>
    </ng-container>
</ng-template>
