<!-- Tipo de Dato para Formulario -->
<ng-container *ngIf="PAGE_INFO.page_type =='F'">
    <div class="p-field p-grid" [ngClass]="{'hide': hideIs}">
        <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0" for="lastname4">{{registInfo.regist_title}}</label>
        <div class="p-col-12 p-md-10">
            <input id="lastname4" 
                   type="text" 
                   class="p-inputtext-sm input" 
                   [placeholder]="placeHolder"
                   [value]="value"
                   [disabled]="isReadOnly"
                   (input)="onInput($event.target.value)"
                   (blur)="onTouch()"
                   pInputText> 
            <!-- <small  class="p-error">Comentario</small> -->
            <!-- class="p-inputtext-sm ng-invalid ng-dirty"  clases para poner en rojo cuando hay error -->
        </div>
    </div>
</ng-container>

<!-- Tipo de Dato para Tabla -->
<ng-container *ngIf="PAGE_INFO.page_type =='T'">
    <input  type="text"
            [value]="value"
            [value]="value"
            (input)="onInput($event.target.value)"
            (blur)="onTouch()"
            pInputText>
</ng-container>