<div class="p-field p-grid">
    <label for="icon" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Ciudad</label>
    <div class="p-col-12 p-md-10">
        <p-dropdown class="p-inputtext-sm"
                    placeholder="Select a City"
                    optionLabel="select_key"
                    [options]="select_options"
                    [(ngModel)]="selected"
                    (onChange)="setSelect($event.value)"
                    [showClear]="true">
        </p-dropdown>
    </div>
</div>