<!-- <div class="p-p-3"> -->
    <div *ngFor="let row of row_frame" class="p-grid p-jc-evenly p-m-2 fila">
        <div *ngFor="let column of row | keyvalue" [class]="'p-col-12 ' + 'p-md-'+ column.value + ' columna p-py-3 p-my-2'">
            
            <app-table-page *ngIf="column.key =='a2'; else other_content"></app-table-page>
            
            <ng-template #other_content>
                <app-form-page></app-form-page>
            </ng-template>
            
        </div>
    </div>
<!-- </div> -->