/* .fila {
    background-color: #FFB6C1;
    border-width: 1px;
    border-style: solid;
    border-color: #fc91a1; 
}

.columna {
    background-color: #ADD8E6;
    border-width: 1px;
    border-style: solid;
    border-color:#8acadf;
} */